@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap";
* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at 50% 50%, rgb(127, 90, 237) 0%, rgb(241, 247, 252) 100%);
  border-color: #FFFFFF;
}

/* Inicio estilos header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  display: inline;
  margin-left: 100px;
  margin-right: 30px;
}

nav div ul li a {
  position: relative;
  text-decoration: none;
}
nav div ul li a:before {
content: "";
position: absolute;
bottom: 5px;
height: 4px;
width: 0;
background: #b37dc8;
border-radius: 50px;
transition: width 0.3s ease;
}
nav div ul li a:hover:before{
  width: 100%;
}
.logo {
  margin-right: auto;
  width: 80px;
  height: 70px;
  margin-left: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

footer nav ul li a:hover {
  transition: all 0.1s ease;
  border-top: 3px solid #b37dc8;
  border-bottom: 3px solid #b37dc8;
  cursor: pointer;
}
footer div form input {
  padding: 6px 8px 6px 8px;
  background: #FFFFFF;
  color: #C0C0C0;
  border-color: #D6D6D6;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  justify-content: center;
  width: 250px;
  margin: 5px;
}

.float {
  margin-left: 550px;
}

.posicion {
  text-align: left;
  margin-left: -100px;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus, .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.nav-item{
  text-align: left;
}

.navbar .navbar-toggler{
  border: none;
  outline: none;
  box-shadow: none;
}
.navbar .toggle-btn{
  cursor: pointer;
  position: relative;
  top: 5px;
  z-index: 1100;
}
.navbar .toggle-btn .bar{
  width: 25px;
  height: 3px;
  margin: 7px 0 7px auto;
  transition: all .2s ease-in-out;
  background-color: #603477;
}
.navbar .toggle-btn .bar:nth-child(2){
   width: 35px;
}
.navbar #toggle-menu{
  display: none;
}
.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2){
  transform: translateX(50px);
  opacity: 0;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1){
  transform: translateY(12px) rotate(45deg);
}
.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
/* Final estilos header */
.features {
  margin-right: 50px;
}

/* Inicio estilos main */
div button a {
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-weight: bold;
}
div a p {
  color: #696969;
  font-family: "Source Sans 3";
  font-weight: 600;
  margin-bottom: 210px;
}

h1 {
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 60px;
  line-height: 1.28;
  letter-spacing: -0.5px;
  width: 698px;
  height: 241px;
}

.h1-index {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 60px;
  width: 698px;
  height: 241px;
}

.button-4 {
  width: 239px;
  height: 720px;
  padding: 0px 10px 0px 10px;
  background: rgba(0, 0, 0, 0);
  color: #232323;
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  border-radius: 24px 24px 24px 24px;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.raw-7dd85797 {
  width: 37px;
  height: 37px;
  background: rgba(0, 0, 0, 0);
}

section div a {
  text-decoration: none;
}

.chrome {
  font-family: "source sans 3", sans-serif;
  color: #444444;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  border-color: #444444;
  border-width: 3px;
  border-style: solid;
  border-radius: 24px;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: auto;
  width: 250px;
  height: 80px;
  padding: 5px 15px 80px 50px;
}

.moverr {
  display: inline-block;
  text-align: left;
}

.posicion-chrome {
  position: absolute;
  top: 483px;
  left: 1080px;
  width: 45px;
  height: 45px;
}

.also {
  font-family: "source sans 3", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 270px;
  margin-top: 20px;
}

.the-crypto-wallet {
  color: #7A7A7A;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.44;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 10px;
}

.process-1 {
  width: 1056px;
  height: 714px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  border-radius: 50px;
}

.an-authentic {
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 50px;
  line-height: 1.28;
  letter-spacing: -0.5px;
  width: 698px;
  margin: auto;
}

.discover-web3 {
  width: 645px;
  height: 68px;
  color: #606060;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  margin: auto;
  margin-top: 20px;
}

.process-3 {
  width: 728px;
  height: 450px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(235, 235, 235) 0%, rgb(232, 244, 255) 100%);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 75px;
  margin: auto;
  text-align: center;
}

.paragraph-1-copy-1 {
  width: 379px;
  height: 42px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.28;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  text-align: center;
  color: #444444;
  margin-top: 10px;
  flex-wrap: wrap;
}

.flex-item {
  margin: 30px 30px 15px 30px;
  text-align: center;
  display: flex;
}

.foto {
  display: block;
  margin: auto;
  margin-top: 200px;
  max-width: 700px;
  height: auto;
}

.carousel-control-prev {
  top: 45%;
  left: 15%;
}

.carousel-control-next {
  top: 45%;
  right: 15%;
}

.borde {
  border-left: 2px solid;
  border-color: #abaaaa;
  padding-left: 10px;
}

/* Final estilos main */
/* Inicio estilos footer */
.paragraph-1-copy-2 {
  width: 920px;
  height: 46px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 36px;
  line-height: 1.28;
  text-align: center;
  margin: auto;
  margin-top: 150px;
}

.for-inquiries {
  width: 596px;
  height: 50px;
  color: #606060;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  margin: auto;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
}

/* Final estilos footer */
a {
  color: inherit;
  text-decoration: none;
}

.button-1-copy-1 {
  width: 122px;
  height: 42px;
  padding: 0px 10px 0px 10px;
  background: #606060;
  color: #FFFFFF;
  border-color: #606060;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-left: 5px;
}

.link-bar-2 {
  width: 645px;
  height: 42px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 40px;
}

.paragraph-2-copy-1 {
  width: 372px;
  height: 67px;
  color: #A118DC;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin: auto;
}

ul li {
  list-style-type: none;
}

.subrayado {
  text-decoration: underline;
}

.tamaño {
  font-size: 1.5rem;
  margin-bottom: 210px;
}

/* DOWNLOAD */
/* Inicio estilos main */
.process-2 {
  width: 666px;
  height: 330px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  margin-left: 200px;
  margin-top: 200px;
  margin-bottom: 525px;
}

.download-for-desktop {
  width: 408px;
  height: 169px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 70px;
  line-height: 1.2;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}

.zefur2 {
  position: absolute;
  top: 340px;
  left: 690px;
  width: 90px;
  height: 80px;
}

.chrome2 {
  position: absolute;
  top: 255px;
  left: 1320px;
  width: 160px;
  height: 160px;
  border-color: #625F5F;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  font-family: "Source Sans 3";
  padding: 20px;
}

.opera {
  position: absolute;
  top: 255px;
  left: 1750px;
  width: 160px;
  height: 160px;
  border-color: #625F5F;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  font-family: "Source Sans 3";
  padding: 10px;
}

.brave {
  position: absolute;
  top: 490px;
  left: 1320px;
  width: 160px;
  height: 160px;
  border-color: #625F5F;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  font-family: "Source Sans 3";
  padding: 5px;
}

.edge {
  position: absolute;
  top: 490px;
  left: 1750px;
  width: 160px;
  height: 160px;
  border-color: #625F5F;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  font-family: "Source Sans 3";
  padding: 20px;
}

.container-1 {
  width: 178px;
  height: 176px;
  background: rgba(255, 255, 255, 0);
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}

.download-for-mobile {
  width: 465px;
  height: 171px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 70px;
  line-height: 1.3;
  text-align: center;
  text-align: center;
  margin: auto;
  margin-bottom: 700px;
}

.zefur3 {
  position: absolute;
  top: 1128px;
  left: 1350px;
  width: 90px;
  height: 80px;
}

.apple {
  position: absolute;
  top: 1365px;
  left: 580px;
  width: 200px;
  height: 200px;
  border-color: #625F5F;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  font-family: "Source Sans 3";
  padding: 20px;
}

.play-store {
  position: absolute;
  top: 1625px;
  left: 580px;
  width: 200px;
  height: 200px;
  border-color: #625F5F;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  font-family: "Source Sans 3";
  padding: 30px;
}

.mano {
  position: absolute;
  top: 1275px;
  left: 1300px;
  width: 600px;
  height: 600px;
}

/* Final estilos main */
/* FEATURES */
/* Inicio estilos main */
.h1-features {
  width: 469px;
  height: 148px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 80px;
  line-height: 1.3;
  text-align: left;
  margin-left: 200px;
  margin-top: 200px;
}

.h2-features {
  width: 664px;
  height: 67px;
  color: #606060;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.boton-download {
  width: 180px;
  height: 53px;
  padding: 0px 10px 0px 10px;
  background: #444444;
  color: #FFFFFF;
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  border-radius: 24px;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 18px;
  margin-left: 200px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 400px;
}

.img-features {
  position: absolute;
  top: 150px;
  left: 1100px;
  width: 661px;
  height: 445px;
}

.flex {
  text-align: center;
}

.rectangulo-1 {
  width: 328px;
  height: 576px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  color: #444444;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 60px;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  display: inline-block;
  margin-left: 50px;
  overflow: hidden;
}

.rectangulo-2 {
  width: 328px;
  height: 576px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  color: #444444;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 60px;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  display: inline-block;
  margin-left: 200px;
  overflow: hidden;
}

.rectangulo-3 {
  width: 328px;
  height: 576px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  color: #444444;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 60px;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  display: inline-block;
  margin-left: 200px;
  overflow: hidden;
}

.h2-features2 {
  width: 664px;
  height: 67px;
  color: #606060;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

.gema {
  position: absolute;
  top: 1350px;
  left: 240px;
  width: 344px;
  height: 176px;
  transform: rotate(-27deg);
}

.gas {
  position: absolute;
  top: 1300px;
  left: 810px;
  width: 331px;
  height: 328px;
}

.laptop {
  position: absolute;
  top: 1300px;
  left: 1340px;
  width: 339px;
  height: 304px;
}

.input {
  width: 239px;
  height: 42px;
  padding: 6px 8px 6px 8px;
  background: #FFFFFF;
  color: #C0C0C0;
  border-color: #D6D6D6;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px x;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.rectangulo-4 {
  margin: auto;
  margin-top: 400px;
  width: 1243px;
  height: 406px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  color: #444444;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-align: left;
}

.h1-features3 {
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 60px;
  line-height: 1.28;
  letter-spacing: -0.5px;
  width: 698px;
  height: 200px;
  margin: 0;
  margin-left: 80px;
  margin-top: 50px;
  text-align: left;
}

.h2-features3 {
  width: 664px;
  height: 67px;
  color: #606060;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin: 0;
  margin-left: 80px;
  margin-top: 0px;
}

.candado {
  position: absolute;
  top: 2020px;
  left: 1050px;
}

.rectangulo-5 {
  margin: auto;
  margin-top: 200px;
  width: 1243px;
  height: 406px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  color: #444444;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 300px;
}

.h1-features4 {
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 60px;
  line-height: 1.28;
  letter-spacing: -0.5px;
  width: 698px;
  height: 200px;
  margin: 0;
  margin-left: 540px;
  margin-top: 30px;
  text-align: left;
}

.h2-features4 {
  width: 664px;
  height: 67px;
  color: #606060;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin: 0;
  margin-left: 540px;
  margin-top: 50px;
}

.carpeta {
  position: absolute;
  top: 2620px;
  left: 280px;
}

/* Final estilos main */
/* FAQs */
/* Inicio estilos main */
.frequently-asked-questions {
  width: 900px;
  height: 94px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 70px;
  line-height: 1.3;
  text-align: center;
  margin: auto;
  margin-top: 150px;
}

.getting-started {
  width: 511px;
  height: 62px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 55px;
  line-height: 1.3;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.accordion-item {
  width: 700px;
  margin: auto;
  overflow: hidden;
}
.accordion{
  --bs-accordion-btn-bg: #a27fe4;
  --bs-accordion-active-bg: #9766f1;
  --bs-accordion-active-color: #000000;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: #9766f1;
}
.margen {
  margin-top: 200px;
}

/* Final estilos main */
/* About */
.our-goal {
  width: 845px;
  height: 161px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  text-align: center;
  margin: auto;
  margin-top: 150px;
}

.a-user-friendly {
  width: 577px;
  height: 67px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.our-purpose {
  width: 1086px;
  height: 410px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 70px;
  margin: auto;
  margin-top: 100px;
}

.h3-our {
  font-size: 30px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
  margin-left: 20px;
}

.h1-our-adentro {
  font-size: 50px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  margin: auto;
  height: 70px;
}

.p-our {
  width: 564px;
  height: 67px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-top: 70px;
  margin-left: 80px;
}

.celu-our {
  position: absolute;
  top: 650px;
  left: 1150px;
}

.p-our2 {
  width: 564px;
  height: 67px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-top: 120px;
  margin-left: 80px;
}

.compu-our {
  position: absolute;
  top: 1180px;
  left: 1130px;
  width: 350px;
  height: 250px;
}

.join-our {
  width: 1209px;
  height: 1226px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  margin: auto;
  margin-top: 100px;
}

.h1-join-our {
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  color: #444444;
  width: 578px;
  height: 157px;
  font-size: 45px;
  margin: auto;
  text-align: left;
  margin-top: 50px;
}

.h3-join-our {
  width: 578px;
  height: 54px;
  color: #603477;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
}

.h4-join-our {
  width: 564px;
  height: 99px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-top: 10px;
  margin-left: 100px;
}

.escudo-join-our {
  position: absolute;
  top: 1770px;
  left: 1100px;
  width: 300px;
  height: 300px;
}

.h3-join-our2 {
  width: 578px;
  height: 54px;
  color: #603477;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  text-align: left;
  margin-top: 100px;
  margin-left: 600px;
}

.h4-join-our2 {
  width: 564px;
  height: 99px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-top: 10px;
  margin-left: 600px;
}

.mundo-join-our {
  position: absolute;
  top: 2080px;
  left: 470px;
  width: 300px;
  height: 300px;
}

.h3-join-our3 {
  width: 578px;
  height: 54px;
  color: #603477;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  text-align: left;
  margin-top: 150px;
  margin-left: 100px;
}

.h4-join-our3 {
  width: 564px;
  height: 99px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-top: 10px;
  margin-left: 100px;
}

.telescopio-join-our {
  position: absolute;
  top: 2450px;
  left: 1100px;
  width: 300px;
  height: 300px;
}

.h1-our-values {
  height: 70px;
  margin-top: 100px;
  margin-left: 200px;
}

.flexbox-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item-about {
  display: flex;
}

.cuadrado-our {
  width: 520px;
  height: 248px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(180deg, rgb(137, 109, 242) 0%, rgb(243, 243, 243) 98%);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 70px;
  margin-left: 300px;
  margin-top: 100px;
}

.h3-our-values {
  width: 700px;
  height: 70px;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-align: left;
  color: #444444;
  margin-left: 40px;
}

.h4-our-values {
  width: 434px;
  height: 119px;
  color: #444444;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  margin-top: 60px;
  margin-left: -700px;
}

/* mobile */
@media screen and  (max-width: 767px){
	/* Index */
.h1-index{
	margin: auto;
	font-size: 40px;
	width: 300px;
	height: 240px;
	}
.posicion-chrome{
	position: absolute;
	top: 615px;
	left: 50px;
}
.process-1{
	width: 315px;
	height: 1350px;
}
.process-3{
	width: 290px;
	height: 1100px;
	
}
.flex-item{
	margin: 30px 30px 15px 30px;
	text-align: center;
	display: flex;
}
.an-authentic{
	font-size: 25px;
	width: 300px;
	text-align: center;
}
.discover-web3{
	width: 300px;
	height: 80px;
	font-size: 16px;
	}
.paragraph-1-copy-1{
	width: 300px;
	height: 42px;
	font-size: 21px;
	margin-left: -10px;
	}
.carousel-control-prev {
	left: -2%; 
	
	}		
.carousel-control-next {
	right: -2%; 
	}
.paragraph-1-copy-2 {
	margin-left: -300px;
	margin-bottom: 10px;
	}
.for-inquiries {
	width: 300px;
	height: 50px;
	margin-bottom: 15px;
	}
	.link-bar-2 {
		width: 310px;
		height: 42px;
	}
.button-1-copy-1 {
	margin-top: 10px;
	}
.paragraph-2-copy-1 {
	margin-left: -40px;
	}
	.float{
		margin-left: 100px;
	}
	.borde{
		border-left: 2px solid;
		border-color: #abaaaa;
		padding-left: 4px;
	}
	.borde2{
		border-left: 2px solid;
		border-color: #abaaaa;
		padding-left: 20px;
	}
	
	.borde-yt{
	border-left: none;
	}

	
/* Download */
.process-2 {
display: none;
}

.download-for-desktop {
	display: none;
}
.chrome2 {
	display: none;
}
.opera {
	display: none;
}
.brave {
	display: none;
}
.edge {
	display: none;
}

.download-for-mobile{
	width: 314px;
	height: 171px;
	margin-top: 100px;
}
.zefur3{
	display: none;
}	

.apple {
	position: absolute;
	top: 400px;
	left: 5px;
	width: 150px;
	height: 150px;
}

.play-store {
	position: absolute;
	top: 400px; 
	left: 165px;
	width: 150px;
	height: 150px;
}
.mano{
	position: absolute;
	top: 580px; 
	left: -20px;
	width: 400px;
	height: 400px;
}
}
/* taablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
	/* Index */
		.h1-index{
		margin: auto;
		font-size: 60px;
		width: 698px;
		height: 241px;
		}
	.posicion-chrome{
		position: absolute;
		top: 585px;
		left: 270px;
	}
	.process-1{
		width: 720px;
		height: 714px;
	}
		.process-3{
		width: 690px;
		height: 450px;
	}
	.flex-item{
		margin: 25px 25px 15px 25px;
		text-align: center;
		display: flex;
	}
	.an-authentic{
		font-size: 50px;
		width: 698px;
	}
	.discover-web3{
		width: 645px;
		height: 68px;
		font-size: 16px;
	}
	.paragraph-1-copy-1{
		width: 379px;
		height: 42px;
		font-size: 30px;
		margin: auto;
	}
	.carousel-control-prev {
	left: 2%; 
	}
		
	.carousel-control-next {
		right: 2%; 
	}
	.paragraph-1-copy-2 {
		margin-left: -80px;
	}
	.for-inquiries {
		width: 596px;
		height: 50px;
		margin-bottom: 0px;
		}
	.link-bar-2 {
		width: 645px;
		height: 42px;
	}
	.button-1-copy-1 {
		margin-top: 0px;
		}
		.float{
			margin-left: 550px;
		}
	.paragraph-2-copy-1 {
			margin: auto;
			}
			.borde{
				border-left: 2px solid;
				border-color: #abaaaa;
				padding-left: 10px;
			}
			.borde2{
				border-left: 2px solid;
				border-color: #abaaaa;
				padding-left: 20px;
			}
			
			.borde-yt{
			border-left: 2px solid;
			border-color: #abaaaa;
			padding-left: 10px;
			}
	/* Download */
	.process-2 {
		width: 666px;
		height: 330px;
		margin-left: 50px;
		display: block;
	}
	.download-for-desktop {
		width: 408px;
		height: 169px;
		font-size: 70px;
		display: block;
	}
	.zefur2{
		position: absolute;
		left: 530px;
	}
	.chrome2 {
		position: absolute;
		top: 655px;
		left: 130px;
		display: block;
	}
	.opera {
		position: absolute;
		top: 655px;
		left: 450px;
		display: block;
	}
	.brave {
		position: absolute;
		top: 855px; 
		left: 130px;
		display: block;
	}
	.edge {
		position: absolute; 
		top: 855px;
		left: 450px;
		display: block;
	}
	.download-for-mobile{
		width: 465px;
		height: 171px;
		margin-top: 0px;
	}
	.zefur3{
		position: absolute;
		left: 540px;
		display: block;
	}	
	
	.apple {
		position: absolute;
		top: 1365px;
		left: 100px;
		width: 200px;
		height: 200px;
	}
	
	.play-store {
		position: absolute;
		top: 1625px; 
		left: 100px;
		width: 200px;
		height: 200px;
	}
	.mano{
		position: absolute;
		top: 1275px; 
		left: 330px;
		width: 500px;
		height: 500px;
	}
}

/* desktop */
@media screen and (min-width: 1321px) and (max-width: 1919px){
	/* Index */
	.h1-index{
		margin: auto;
		font-size: 60px;
		width: 698px;
		height: 241px;
		}
	.posicion-chrome{
		position: absolute;
		top: 585px;
		left: 565px;
	}
	.process-1{
		width: 1056px;
		height: 714px;
	}
	.process-3{
		width: 728px;
		height: 450px;
		}
		.flex-item{
			margin: 30px 30px 15px 30px;
			text-align: center;
			display: flex;
		}
	.an-authentic{
		font-size: 50px;
		width: 698px;
		}
	.discover-web3{
		width: 645px;
		height: 68px;
		font-size: 16px;
		}
	.paragraph-1-copy-1{
		width: 379px;
		height: 42px;
		font-size: 30px;
		margin: auto;
	}
	.carousel-control-prev {
		left: 15%; 
	}
	
	.carousel-control-next {
		right: 15%; 
	}
	.paragraph-1-copy-2 {
		margin: auto;
	}
	.for-inquiries {
		width: 596px;
		height: 50px;
		margin-bottom: 0px;
		}
		.link-bar-2 {
			width: 645px;
			height: 42px;
		}
		.button-1-copy-1 {
			margin-top: 0px;
			}
	.float{
		margin-left: 550px;
		}
	.paragraph-2-copy-1 {
			margin: auto;
			}
			.borde{
				border-left: 2px solid;
				border-color: #abaaaa;
				padding-left: 10px;
			}
			.borde2{
				border-left: 2px solid;
				border-color: #abaaaa;
				padding-left: 20px;
			}
			.borde-yt{
			border-left: 2px solid;
			border-color: #abaaaa;
			padding-left: 10px;
			}
	/* Download */
	.process-2 {
		width: 666px;
		height: 330px;
		margin-left: 50px;
		display: block;
	}
	.download-for-desktop {
		width: 408px;
		height: 169px;
		font-size: 70px;
		display: block;
	}
	.zefur2{
		position: absolute;
		left: 540px;
	}
	.chrome2 {
		position: absolute;
		top: 255px;
		left: 820px;
		display: block;
	}
	.opera {
		position: absolute;
		top: 255px;
		left: 1100px;
		display: block;
	}
	.brave {
		position: absolute;
		top: 490px; 
		left: 820px;
		display: block;
	}
	.edge {
		position: absolute;
		top: 490px; 
		left: 1100px;
		display: block;
		}
		.download-for-mobile{
			width: 465px;
			height: 171px;
			margin-top: 0px;
		}
	.zefur3{
		position: absolute;
		left: 830px;
		display: block;
	}
	
	.apple {
		position: absolute;
		top: 1365px;
		left: 200px;
		width: 200px;
		height: 200px;
	}
	
	.play-store {
		position: absolute;
		top: 1625px; 
		left: 200px;
		width: 200px;
		height: 200px;
	}
	.mano{
		position: absolute;
		top: 1275px; 
		left: 700px;
		width: 600px;
		height: 600px;
	}
	/* Features */
	.h1-features{
		margin-left: 50px;
	
	}
	
	.h2-features{
		margin-left: 50px;
		
		}
	
	.boton-download {
		margin-left: 50px;
	}
	
	.img-features{
		position:absolute;
		left: 650px;
	}
	.rectangulo-1 {
		margin-left: 0px;
	}
	.rectangulo-2 {
		margin-left: 100px;
	}
	.rectangulo-3 {
		margin-left: 100px;
	}
	.gema{
		position: absolute;
		left: 40px;
	}
	.gas{
		position: absolute;
		left: 500px;
	}
	.laptop{
		position: absolute;
		left: 940px;
	}
	.candado{
		position: absolute;
		left: 770px;
	}
	.carpeta{
		position: absolute;
		left: 30px;
	}
}

@media screen and (min-width: 1920px){
	/* Index */
	.h1-index{
		margin: auto;
		font-size: 60px;
		width: 698px;
		height: 241px;
		}
	.posicion-chrome{
		position: absolute;
		top: 585px;
		left: 840px;
	}
	.process-1{
		width: 1056px;
		height: 714px;
	}
	.process-3{
		width: 728px;
		height: 450px;
		}
	.flex-item{
		margin: 30px 30px 15px 30px;
		text-align: center;
		display: flex;
		}
		.an-authentic{
			font-size: 50px;
			width: 698px;
			}
		.discover-web3{
			width: 645px;
			height: 68px;
			font-size: 16px;
			}
	.paragraph-1-copy-1{
		width: 379px;
		height: 42px;
		font-size: 30px;
		margin: auto;
		}
	.carousel-control-prev {
		left: 15%; 
		}
		
	.carousel-control-next {
		right: 15%; 
		}
		
	.paragraph-1-copy-2 {
		margin: auto;
	}
	.for-inquiries {
		width: 596px;
		height: 50px;
		margin-bottom: 0px;
		}
		.link-bar-2 {
			width: 645px;
			height: 42px;
		}
		.button-1-copy-1 {
			margin-top: 0px;
			}
			.float{
				margin-left: 550px;
			}
			.paragraph-2-copy-1 {
				margin: auto;
				}
				.borde{
					border-left: 2px solid;
					border-color: #abaaaa;
					padding-left: 10px;
				}
				.borde2{
					border-left: 2px solid;
					border-color: #abaaaa;
					padding-left: 20px;
				}
				.borde-yt{
				border-left: 2px solid;
				border-color: #abaaaa;
				padding-left: 10px;
				}
		/* Download */
		.process-2 {
			width: 666px;
			height: 330px;
			margin-left: 200px;
			display: block;
		}
		.download-for-desktop {
			width: 408px;
			height: 169px;
			font-size: 70px;
			display: block;
		}
		.zefur2{
			position: absolute;
			left: 690px;
		}
		.chrome2 {
			position: absolute;
			top: 255px; 
			left: 1100px;
			display: block;
		}
		.opera {
			position: absolute;
			top: 255px; 
			left: 1500px;
			display: block;
		}
		.brave {
			position: absolute;
			top: 490px; 
			left: 1100px;
			display: block;
		}
		.edge {
			position: absolute; 
			top: 490px;
			left: 1500px;
			display: block;
		}
		.download-for-mobile{
			width: 465px;
			height: 171px;
			margin-top: 0px;
		}
		.zefur3{
			position: absolute;
			left: 1110px;
			display: block;
		}	
		
		.apple {
			position: absolute;
			top: 1365px;
			left: 380px;
			width: 200px;
			height: 200px;
		}
		
		.play-store {
			position: absolute;
			top: 1625px; 
			left: 380px;
			width: 200px;
			height: 200px;
		}
		.mano{
			position: absolute;
			top: 1275px; 
			left: 1000px;
			width: 600px;
			height: 600px;
		}
		/* Features */
		.h1-features{
			margin-left: 200px;
		}
		
		.h2-features{
			margin-left: 200px;
			}
		
		.boton-download {
			margin-left: 200px;
		}
		
		.img-features{
			position:absolute;
			left: 1100px;
		}
		.rectangulo-1 {
			margin-left: 50px;
		}
		.rectangulo-2 {
			margin-left: 200px;
		}
		.rectangulo-3 {
			margin-left: 200px;
		}
		.gema {
			position: absolute;
			left: 260px;
		  }
		  .gas {
			position: absolute;
			left: 810px;
		  }
		  .laptop {
			position: absolute;
			left: 1320px;
		  }
		  .candado {
			position: absolute;
			left: 1050px;
		  }
		  .carpeta {
			position: absolute;
			left: 300px;
		  }
	}